div{
  border-radius: 60.5px;
  width: 150px;
  height: 35px;
  transition: 0.3s;
  &.button1{
    background: #273477;
  }

  &.button2{
    background: #D3352D;
  }

  &.discover{
    position: absolute;
    left: 45%;
    bottom: 4%;

    p a {
      text-decoration: none;
      color: white;
    }

    &:hover{
      position: absolute;
      left: 44%;
      bottom: 3%;
      width: 170px;
      height: 40px;
      background: #182253;
      padding-top: 5px;
    }
  }

  &.parrainer{
    margin-top: 3%;
    border-radius: 60.5px;
    width: 150px;
    height: 35px;
    margin-left: 40%;

    p{
      color: white;
      margin-left: 0px;
      text-decoration: none;

    }
    &:hover{
      width: 170px;
      height: 40px;
      background: #182253;
      padding-top: 5px;
    }
  }

  p{
    padding-top: 2%;
  }
}
