@font-face {
  font-family: 'Avenir LT Std 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 55 Roman'), url('font/AvenirLTStd-Roman.woff') format('woff');
  }
  
@font-face {
  font-family: 'Avenir LT Std 35 Light';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 35 Light'), url('font/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
  font-family: 'Avenir LT Std 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 65 Medium'), url('font/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Didot';
  font-style: normal;
  font-weight: normal;
  src: local('Didot'), url('font/Linotype-Didot-Initials.woff') format('woff');
}

@font-face {
  font-family: 'Avenir LT Std 65 Black';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 65 Black'), url('font/AvenirLTStd-Black.woff') format('woff');
}

body{
  font-family: 'Avenir LT Std 55 Roman';
  line-height: 1.52
}

h1{
  font-family: 'Didot';
  font-size: 28px;  
  text-align: center;
}


h2{
  font-family: 'Avenir LT Std 65 Black';
  font-size: 28px;  
  text-align: center;
}

p{
  font-size: 18px;
  text-align: center;

}

#discover{
  display: flex;
  height: 98vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  .div{
    width: 50%;
    height:100%;
    h1{
      margin-top: 35%;
      margin-left: 15%;
      margin-bottom: 3%;

    }
    h1,.text{
      margin-left: 15%;
      width: 500px;
    }
    .text{
      text-align: justify;
    }
    img.pull1{
      width: 80%;
      height: 80%;
      margin-left: 10%;
      margin-top: 11%;
    }
  }
}

.section2{
  width: 100vw;
  height: 50vh;
  background-image: url("../assets/cover2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15%;
  p{
    text-align: justify;
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
  }
}

.section3{
  height: 150vh;
  img{
    width: 400px;
    height: 500px;
    border-radius: 10px;
  }
  .big .small,.big2 .small{
    width: 50vw;
    height: 75vh;
    h1{
      margin-top:20%;
    }
    p{
      width: 500px;
      margin-left: 15%;
      text-align: justify;
    }
  }
  .big{
    height: 75vh;
    width: 100vw;
    display: flex;

    .small.s1 {
      z-index: 2;
      img{
        margin-top: 70px;
        margin-left: 45%;
        transition: 0.3s;

        &:hover{
          width: 450px;
          height: 550px;
          border-color: white;
          border-width: 5px;
          cursor: url('../assets/pointer1.cur'), pointer; 
        }
      }
    }
  }

  .big2{
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    .small.s1 {
      z-index: 1;
      img{
        margin-top: -50px;
        margin-left: -50px;
        transition: 0.3s;
        &:hover{
          width: 450px;
          height: 550px;
          border-color: white;
          border-width: 5px;
          cursor: url('../assets/pointer2.cur'), pointer; 
        }
      }
      &:hover{
        z-index: 3;
      }
    }
  }
}


.section4{
  width: 100vw;
  height: 50vh;
  background-image: url('../assets/cover3.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 15%;
  margin-bottom: 3%;
  p{
    text-align: justify;
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
  }
}

.section5{
  margin-top: 3%;
  width: 100vw;
  height: 90vh;
  display: flex;

  .big{
    width: 33.33vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    .small{
      width: 100%;
      &.s1{
        margin-left:9%;
        height: 62vh;
        img{
        height: 437px;
        width: 370px;
        border-radius: 10px;
        transition: 0.3s;
          &:hover{
            height: 450px;
            width: 380px;
          }
        }
      }
      .button1{
        margin-left: 32%;
      }
    }
    &.s1{
      margin-top: 5%;
    }
  }
}